<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" media="(max-width:500px)" href="style-m.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto+Slab:wght@400;600&display=swap"
  rel="stylesheet">
    <title>Hotel Review Analyzer</title>
        <h1 style="text-align:center;font-family: 'Palette Mosaic', cursive; color:#f7ca4f">HOTEL REVIEW ANALYZER</h1>
  </head>
  <body>
