
<%- include('partials/header.ejs') %>

<center>
<img id="reactionPic" src="<%= exp %>.png"><br><br><br>
<span id="resultID">
    <%= result %>
</span>
</center>

<%- include('partials/footer.ejs') %>
